# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xiangyun\helloworld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/encodings.xml
/helloworld.iml
/misc.xml
/modules.xml
/vcs.xml
